<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <!-- import CSS -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
  <div id="app">
    <el-container>
      <el-header>
        <el-row :gutter="20">
          <el-col :span="17">
            <el-steps :active="active" finish-status="success">
              <el-step title="选课"></el-step>
              <el-step title="安排教学计划"></el-step>
              <el-step title="生成课表"></el-step>
            </el-steps>
          </el-col>
          <el-col :span="5">
              <el-button-group>
                <el-button :disabled="frontButton" type="primary" icon="el-icon-arrow-left" @click="front">上一页</el-button>
                <el-button :disabled="nextButton" type="primary" @click="next">下一页<i class="el-icon-arrow-right el-icon--right"></i>
              </el-button-group>
          </el-col>
          <el-col :span="2">
            <el-button :disabled="submitButton" type="primary" icon="el-icon-check" @click="submit">提交</el-button>
          </el-col>
        </el-row>
      </el-header>

      <el-main>
        <!-- 选课页面 -->
        <div id="fltMain">
          <div id="mapMain_sub1">
            <div>输入学期数<span style="padding-left: 10px;"></span></span></div><el-input-number v-model="NumOfSemesters" @change="SmstNumChange" :min="1" :max="10" label="输入学期数"></el-input-number>
            <div><span style="padding-left: 30px;">学期总学时数<span style="padding-left: 10px;"></span></div><el-input-number v-model="StudyHour" @change="StudyHourChange" :min="0" :max="380" label="输入学时数"></el-input-number>
          </div>
          
          <div style="padding: 20px;"></div>

          <el-upload
            class="upload-demo"
            action="./"
            :before-upload="upload"
            :limit="1"
            :on-exceed="handleExceed"
            :file-list="fileList">
            <div id="uplaod-button">
              <el-button type="primary" plain>点击解析<i class="el-icon-upload el-icon--right"></i></el-button>
              <div slot="tip" class="el-upload__tip" style="padding-left: 10px;"> 选择一个json文件以解析</div>
            </div>
          </el-upload>

          <br><br>

          <!-- 穿梭框 -->
          <!-- <el-transfer
            id="transfer"
            filterable
            filter-placeholder="输入课程关键词以搜索"
            v-model="value"
            :data="datad"
            :titles="flt_titles">
          </el-transfer> -->

          <!-- 选课表格 -->
          <el-table
            ref="multipleTable"
            :data="RawMap"
            stripe
            tooltip-effect="dark"
            style="width: 100%"
            @selection-change="handleSelectionChange">

            <el-table-column type="selection" width="55">
            </el-table-column>

            <el-table-column
              prop="name"
              label="课程名称"
              width="200"
              show-overflow-tooltip>
            </el-table-column>

            <el-table-column
              prop="time"
              label="学时"
              width="80">
            </el-table-column>

            <el-table-column
              prop="stringPre"
              label="前置课程"
              show-overflow-tooltip>
            </el-table-column>

            <!-- <el-table-column
              align="right">
              <template slot="header" slot-scope="scope">
                <el-button @click="showTPGraph">生成拓扑图片</el-button>
              </template>
            </el-table-column> -->
          </el-table>


          <div id="mountNode"></div>
        </div>
        

        <!-- 调整顺序页面 -->
        <div id="mapMain">
          <div id="mapMain_sub1">
            <div>输入学期数<span style="padding-left: 10px;"></span></span></div><el-input-number v-model="NumOfSemesters" @change="SmstNumChange" :min="1" :max="10" label="输入学期数"></el-input-number>
            <div><span style="padding-left: 30px;">学期总学时数<span style="padding-left: 10px;"></span></div><el-input-number v-model="StudyHour" @change="StudyHourChange" :min="0" :max="380" label="输入学时数"></el-input-number>
          </div>
          <div style="padding: 20px;"></div>
          <div id="mapMain_sub2">
            <!-- <div id="paperList" v-for="table in TableData"></div> -->
            <div v-for="(table, index) in TableData" id="paperList" name="paperList" ondrop="drop(event)" ondragover="allowDrop(event)">
              <div id="paper" style="background: yellowgreen">第{{index + 1}}学期</div>
              <div id="paperOutsideDiv" v-for="course in table" :key="course.name">
                <div id="paper" draggable="true" draggable="true" ondragstart="drag(event)">
                  {{course.name}}<br>
                  {{course.time}}学时
                </div>
              </div>

            </div>
          </div>
        </div>

        <!-- 生成课表页面 -->
        <div id="showMain"><el-button onclick="printdiv('mapMain_sub2')">打印并退出</el-button></div>
      </el-main>
    </el-container>
  </div>
</body>

<script src="https://gw.alipayobjects.com/os/antv/pkg/_antv.g6-3.7.1/dist/g6.min.js"></script>
<!-- Antv-G6 -->
<script src="https://lib.sinaapp.com/js/jquery/1.9.1/jquery-1.9.1.min.js"></script>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<!-- Vue脚本 -->
<script>
  function printdiv(printpage) {
      var headhtml = "<html><head><title></title></head><body>";
      var foothtml = "</body>";
      // 获取div中的html内容
      var newhtml = document.all.item(printpage).innerHTML;
      // 获取div中的html内容，jquery写法如下
      // var newhtml= $("#" + printpage).html();

      // 获取原来的窗口界面body的html内容，并保存起来
      var oldhtml = document.body.innerHTML;

      // 给窗口界面重新赋值，赋自己拼接起来的html内容
      document.body.innerHTML = headhtml + newhtml + foothtml;
      // 调用window.print方法打印新窗口
      window.print();

      // 将原来窗口body的html值回填展示
      document.body.innerHTML = oldhtml;
      return false;
  }

  function allowDrop(ev) {
    ev.preventDefault();
  }

  function drag(ev) {
    // ev.dataTransfer.setData("text", ev.target.id);
    ev.dataTransfer.setData("text", $(ev.target).html().split('<br>')[0].replace(/^\s*/,""));
  }

  function drop(ev) {
    ev.preventDefault();
    var data = ev.dataTransfer.getData("text");
    // 寻找自己是tabledata中的第几列
    var targetColIndex = parseInt($(ev.target).text().replace("第","").replace("学期",""))-1

    // 拷贝tabledata
    var tmpMap = [];
    vm.TableData.forEach( tmpCol => {
      tmpMap.push(JSON.parse(JSON.stringify(tmpCol)));
    });

    // 从tabledata中寻找被拖动的元素
    var sourceColIndex = 0;
    vm.TableData.forEach( col => {
      col.forEach( course => {
        if(course.name == data){
          var theCourse = course;
          var offset = targetColIndex - sourceColIndex;

          // 找到被拖动的课程后，检查是否可以向目标列拖放
          // 查找课程col里的索引，向目标列添加元素，并通过索引从原列删除元素
          tmpMap[targetColIndex].push(theCourse);
          tmpMap[sourceColIndex].splice(col.lastIndexOf(course),1);

          // 把后置课程移动到恰当位置
          // 把theCourse所有的后置课程放在一个数组中
          var tmpAll = [];
          var tmpQueue = [];
          tmpQueue.push(theCourse);
          while(tmpQueue.length != 0){
            tmpQueue[0].next.forEach( nextCourse => {
              tmpnextCourse = vm.RawMap.filter(function(p){return p.name == nextCourse;})[0];
              if(tmpAll.lastIndexOf(tmpAll.filter(function(p){return p.name == nextCourse;})[0])==-1)tmpQueue.push(tmpnextCourse);
            });
            tmpAll.push(JSON.parse(JSON.stringify(tmpQueue[0])));
            tmpQueue.shift();
          }
          // 对tmpAll进行拓扑排序
          tmpQueue = tmpAll;
          tmpAll = [];
          // 计算每个节点的入度
          tmpQueue.forEach( calcRD1=>{
            var RD = 0;
            calcRD1.pre.forEach(calcRDpre=>{
              if(tmpQueue.filter(function(p){return p.name == calcRDpre}).length!=0)RD++;
            });
            calcRD1.RD=RD;
          });
          var RD0Course = tmpQueue.filter(function(p){return p.RD==0})[0]
          RD0Course.next.forEach(pNext=>{tmpQueue.filter(function(p){return p.name==pNext}).forEach(pp=>{pp.RD--;});})
          tmpQueue.splice(tmpQueue.lastIndexOf(RD0Course),1);
          while(tmpQueue.length!=0){
            RD0Course = tmpQueue.filter(function(p){return p.RD==0})[0]
            tmpAll.push(RD0Course);
            RD0Course.next.forEach(pNext=>{tmpQueue.filter(function(p){return p.name==pNext}).forEach(pp=>{pp.RD--;});})
            tmpQueue.splice(tmpQueue.lastIndexOf(RD0Course),1);
          }

          // 检查所有后置课程是否满足各自的前置课程，不满足的向后移动到满足为止
          tmpAll.forEach(tailCourse=>{
            var tmpall = [tailCourse];
            var problemCol = tmpMap.filter(function(pCol){return pCol.filter(function(pCourse){return pCourse.name == tailCourse.name}).length!=0})[0];
            for(var i = 0; i < tmpMap.lastIndexOf(problemCol); i++){tmpMap[i].forEach( HeadCourse => {tmpall.push(HeadCourse);})}
            while(headCheck(tmpall,false)!=true){
              if(tmpMap.lastIndexOf(problemCol) + 1 >= tmpMap.length)tmpMap.push([]);
              tmpMap[tmpMap.lastIndexOf(problemCol) + 1].push(tailCourse);
              tmpMap[tmpMap.lastIndexOf(problemCol)].splice((problemCol.lastIndexOf(problemCol.filter(function(pCourse){return pCourse.name == tailCourse.name})[0])),1);
              tmpall = [tailCourse];
              problemCol = tmpMap.filter(function(pCol){return pCol.filter(function(pCourse){return pCourse.name == tailCourse.name}).length!=0})[0];
              for(var i = 0; i < tmpMap.lastIndexOf(problemCol); i++){tmpMap[i].forEach( HeadCourse => {tmpall.push(HeadCourse);})}
            }
          });

          // 检查是否可以移动
          if(checkACourse(tmpMap, theCourse) == false)return false;

          vm.TableData = JSON.parse(JSON.stringify(tmpMap));
          checkSmsStudyHour();
          return
        }
      })
      sourceColIndex++;
    })

  }

  function checkACourse(table, theCourse){
    var state;
    table.forEach( col => {
      col.forEach( course => {
        if(course.name == theCourse.name){
          // 查找前置课程是否满足要求
          var allPreCourse = [];
          for(var i = 0; i < table.lastIndexOf(col); i++){
            table[i].forEach( precourse => {
              allPreCourse.push(precourse);
            })
          }
          allPreCourse.push(theCourse);
          // if(!headCheck(allPreCourse))return false;

          // 查找后置课程是否不超出长度
          //console.log(headCheck(allPreCourse, true));
          if(headCheck(allPreCourse, true)==false||tailCheck(table)==false)state = false;
          else state = true;
          return state;
        }
      })
    })
    return state;
  }

  function printRawData(){
    vm.RawMap.forEach( course => {
      //console.log(vm.RawMap);
    });
  }

  function backToFirstPage(){
    vm.active = 0;
    var a = document.getElementById("fltMain");
    var b = document.getElementById("mapMain");
    var c = document.getElementById("showMain");
    a.style.display="flex";
    b.style.display="none";
    c.style.display="none";
    vm.frontButton = true;
    vm.nextButton = false;
  }

  function checkSmsStudyHour(){
    var SmsCheck = true;
    if(vm.TotalStudyHour > vm.StudyHour * vm.NumOfSemesters){
      vm.$notify.error({
        title: '超过总学时数',
        message: '总学时数'+(vm.StudyHour * vm.NumOfSemesters)+'，已选课程学时数'+(vm.TotalStudyHour)+'，超过'+(vm.TotalStudyHour - vm.StudyHour * vm.NumOfSemesters)+'学时'
      });
      SmsCheck = false;
    }
    vm.minStudyHour = vm.TotalStudyHour / vm.NumOfSemesters;
    var i = 0;
    var tmpEver = true;
    vm.TableData.forEach( SmsCourses =>{
      var ASmsStudyHour = 0;
      SmsCourses.forEach( ACourse=>{
        ASmsStudyHour += parseInt(ACourse.time);
      })
      if(ASmsStudyHour > vm.StudyHour){
        document.getElementsByName("paperList")[i].style.background='red';
        tmpEver=false;
      }else{
        document.getElementsByName("paperList")[i].style.background='';
      }
      i += 1;
    })
    if(tmpEver)vm.EverySmsSatisfyStudyHour=true;
    else vm.EverySmsSatisfyStudyHour=false;
  }

  function headCheck(tmpMap, warning){
    //console.log(tmpMap);
    // 判断能否进行拓扑排序
    var warningArray = [];
    tmpMap.forEach( course => {
      // console.log(course);
      course.pre.forEach( precourse => {
        var courseInTmpMap = tmpMap.filter(function(p){return p.name == precourse;});

        if(courseInTmpMap.length == 0){
          var courseInWarningArray = warningArray.filter(function(p){return p.name == course.name;});
          if(courseInWarningArray.length == 0){
            warningArray.push({
              name: course.name,
              pre: [precourse]
            })
          }else{
            courseInWarningArray[0].pre.push(precourse);
          }
        }
      })
    })
    //console.log(warningArray, warning);
    if(warningArray.length > 0){
      if(warning==true){
        var warningMessage = "";
        warningArray.forEach( warningCourse =>{
          warningMessage = warningMessage + "您所选的课程<strong>" + warningCourse.name + "</strong>还需要前置课程:<ol>"
          warningCourse.pre.forEach( warningPreCourse => {
            warningMessage = warningMessage + "<li>" + warningPreCourse +"</li>"
          })
          warningMessage = warningMessage + "</ol>"
        })
        // 弹出错误提示
        vm.$notify.error({
          title: '您学不会啊',
          dangerouslyUseHTMLString: true,
          message: warningMessage,
          duration: 0
        });
        return false;
      }else{
        return warningArray;
      }
    }

    return true;
  }

  function tailCheck(TableData){
    if(TableData.length > vm.NumOfSemesters){
      // 弹出错误提示
      vm.$notify.error({
        title: '您学不会啊,',
        message: "您需要"+TableData.length+"个学期学完所有课程，可是总共只有"+vm.NumOfSemesters+"个学期"
      });
      return false;
    }
    return true;
  }

  function divideSemester(){
    var TableData = []
    // 复制原始数组
    // var tmpMap = vm.RawMap;
    var tmpMap = [];
    // vm.RawMap.forEach( course => {
    //   tmpMap.push(course);
    // });
    vm.value.forEach( choosedCourse => {
      tmpMap.push(JSON.parse(JSON.stringify(vm.RawMap.filter(function(p){
        return p.name == choosedCourse;
      })[0])))
    })

    if(!headCheck(tmpMap,true))return false;

    // 拓扑排序子集划分
    while(tmpMap.length > 0){
      // 挑出所有入度为0的节点
      var ASemester = tmpMap.filter(function(p){
        return p.pre.length == 0;
      });
      TableData.push(ASemester);
      ASemester.forEach( course => {
        // 在局部图中删除所有入度为0的节点
        var courseIndex = tmpMap.lastIndexOf(course);
        tmpMap.splice(courseIndex, 1);

        // 删除所有局部图中已经不存在的入度
        // 筛选所有存在无效入度的节点
        tmpMap.filter(function(p){
          return p.pre.lastIndexOf(course.name) != -1;
        }).forEach( hasUselessCourse => {
          // 在局部图中删除这些节点pre中的无效数据
          var UselessCourseIndex = hasUselessCourse.pre.lastIndexOf(course.name);
          tmpMap[tmpMap.lastIndexOf(hasUselessCourse)].pre.splice(UselessCourseIndex, 1);
        })
      })
    }

    // 此时所有节点都没有pre数据
    // 从RawMap中添加pre数据
    TableData.forEach( colCourses => {
      colCourses.forEach( course => {
        course.pre = vm.RawMap.filter(function(p){return p.name == course.name})[0].pre;
      })
    })

    if(!tailCheck(TableData))return false;

    while(TableData.length < vm.NumOfSemesters){
      TableData.push([]);
    }

    vm.TableData = JSON.parse(JSON.stringify(TableData));

    return true;
  }

  var vm = new Vue({
    el: '#app',
    data: {
      flt_titles: ["可选课程","已选课程"],
      // datad: [{key:1,label:'上海'}, {key:2,label:'北京'}, {key:3,label:'广州'}, {key:4,label:'深圳'}, {key:5,label:'南京'}, {key:6,label:'西安'}, {key:7,label:'成都'}],
      // datad: (function(){
      //   d = [];
      //   courses = ['高等数学', '大学物理', '线性代数', '概率论', 'C语言', '面向对象程序设计', '人工智能导论','大魔导士导论'];
      //   courses.forEach(course => {
      //     d.push({
      //       key: course
      //     });
      //   });
      //   return d;
      // })(),
      datad: [],
      RawMap: [],

      multipleSelection: [],
      value: [],
      active: 0,
      frontButton: true,
      nextButton: false,
      submitButton: true,

      fileList:[],

      NumOfSemesters: 8,
      StudyHour: 280,
      TotalStudyHour: 0,

      Semester: [],
      TableData: [],

      EverySmsSatisfyStudyHour: false,

      GraphData: {
        nodes: [],
        edges: []
      }

    },
    methods: {
      submit: function(){

      },
      upload: function(file){
        //console.log(file);
        var filePath=file.path;
        //获取最后一个.的位置
        var index= filePath.lastIndexOf(".");
        //获取后缀
        var ext = filePath.substr(index+1);
        //输出结果
        //console.log(ext);
        if(ext=="json"){
          //console.log(file.path);
          $.ajax({
            type:'get',
            url:file.path,
            dataType:"json",
            success: function(data){
                vm.RawMap = [];
                vm.TableData = [];
                vm.GraphData = {nodes: [],edges: []}
                // 获取json
                //console.log(data);
                // 将json传送给内置变量
                data.courses.forEach(course => {
                  vm.datad.push({key: course.name});
                  vm.RawMap.push({
                    name: course.name,
                    time: course.time,
                    pre: course.pre,
                    stringPre: JSON.stringify(course.pre).slice(1, -1).replaceAll("\"",""),
                    next: []
                  })
                });
                // 添加每个节点的后置节点
                data.courses.forEach(course => {
                  if(course.pre.length != 0){
                    course.pre.forEach( precourse => {
                      //console.log(precourse);
                      vm.RawMap[vm.RawMap.lastIndexOf(vm.RawMap.filter(function(p){return p.name===precourse})[0])].next.push(course.name);
                    })
                  }
                })
                // 测试外置函数
                //printRawData();

                // 准备拓扑图数据
                data.courses.forEach( course => {
                  vm.GraphData.nodes.push({id:course.name,label:course.name});
                  course.pre.forEach( precourse => {
                    vm.GraphData.edges.push({source:course.name,target:precourse});
                  })
                })
                vm.showTPGraph();
            },
            error: function(data){
                alert(JSON.stringify(data));
            }
          });
        }else{
          this.$message.warning(`请选择一个json文件`);  
        }
      },

      handleExceed(files, fileList) {
        this.$message.warning(`当前限制选择 1 个文件，本次选择了 ${files.length} 个文件`);
      },

      next: function(){
        // 刷新课程拓扑排序
        if(vm.active==0&&divideSemester() == false)return;
        if(vm.TotalStudyHour > vm.StudyHour * vm.NumOfSemesters){
          vm.$notify.error({
            title: '超过总学时数',
            message: '总学时数'+(vm.StudyHour * vm.NumOfSemesters)+'，已选课程学时数'+(vm.TotalStudyHour)+'，超过'+(vm.TotalStudyHour - vm.StudyHour * vm.NumOfSemesters)+'学时'
          });
          return;
        }
        checkSmsStudyHour();

        var a = document.getElementById("fltMain");
        var b = document.getElementById("mapMain");
        var c = document.getElementById("showMain");

        b.style.visibility="visible";
        c.style.visibility="visible";

        if(a.style.display==""||a.style.display=="flex"){
          a.style.display="none";
          b.style.display="flex";
          c.style.display="none";
        }else if(b.style.display==""||b.style.display=="flex"){
          a.style.display="none";
          b.style.display="none";
          c.style.display="flex";
        }else if(c.style.display==""||c.style.display=="flex"){
          a.style.display="flex";
          b.style.display="none";
          c.style.display="none";
        }
        this.active++
        if (this.active == 2) {
          this.frontButton = false;
          this.submitButton = false;
          this.nextButton = true;
        }else{
          this.frontButton = false;
        }

      },

      front: function(){
        var a = document.getElementById("fltMain");
        var b = document.getElementById("mapMain");
        var c = document.getElementById("showMain");

        b.style.visibility="visible";
        c.style.visibility="visible";

        if(a.style.display==""||a.style.display=="flex"){
          a.style.display="none";
          b.style.display="none";
          c.style.display="flex";
        }else if(b.style.display==""||b.style.display=="flex"){
          a.style.display="flex";
          b.style.display="none";
          c.style.display="none";
        }else if(c.style.display==""||c.style.display=="flex"){
          a.style.display="none";
          b.style.display="flex";
          c.style.display="none";
        }
        this.active--;
        if (this.active == 0) {
          this.frontButton = true;
          this.nextButton = false;
        }else{
          this.nextButton = false;
        }

      },

      SmstNumChange: function(){
        if(divideSemester() == false && this.active != 0){
          this.$confirm('此操作会删除超出学期数的学期的课程, 是否继续?', '提示', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning'
          }).then(() => {
            this.$message({
              type: 'success',
              message: '删除成功!'
            });
            while(this.NumOfSemesters < this.TableData.length){
              this.TableData.pop().forEach( course =>{
                this.value.splice(this.value.lastIndexOf(course.name), 1);

                this.multipleSelection.filter(function(p){
                  return p.name == course.name;
                }).forEach( choosedCourse => {
                  this.$refs.multipleTable.toggleRowSelection(choosedCourse);
                });
              });
              divideSemester();
              
            }
          }).catch(() => {
            this.$message({
              type: 'info',
              message: '已取消删除'
            });          
            this.NumOfSemesters=this.TableData.length;
          });
        }
        checkSmsStudyHour();
      },

      StudyHourChange: function(value){
        StudyHour = value;
        //console.log(StudyHour);
        checkSmsStudyHour();
      },

      handleSelectionChange(val) {
        this.multipleSelection = val;
        var tmpvalue = [];
        var TotalStudyHour = parseInt(0);
        val.forEach( choosedCourse =>{
          tmpvalue.push(choosedCourse.name);
          TotalStudyHour = TotalStudyHour + parseInt(choosedCourse.time);          
        });
        checkSmsStudyHour();
        vm.TotalStudyHour = TotalStudyHour;
        vm.value = tmpvalue;
        // divideSemester();
      },

      showTPGraph(){
        // 读取数据
        graph.data(vm.GraphData);
        // 渲染图
        graph.render();
      },

    },
  })

  const graph = new G6.Graph({
    container: 'mountNode', // String | HTMLElement，必须，在 Step 1 中创建的容器 id 或容器本身
    width: 500, // Number，必须，图的宽度
    height: 5000, // Number，必须，图的高度
    layout: {
      type: 'dagre',
      preventOverlap: true, // 防止节点重叠
    },
  });
</script>


<!-- CSS样式 -->
<style>
  /* 穿梭框外框 */
  .el-transfer-panel{
  width: 500px;
  height: 500px;
  }
  /* 穿梭框内框 */
  .el-transfer-panel__list.is-filterable{
  height: 500px;
  }
  #uplaod-button{
    flex-direction: row;
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center;     /* 垂直居中 */ 
  }
  #fltMain{
    flex-direction: column;
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center;     /* 垂直居中 */
  }
  #mapMain{
    visibility: hidden;
    flex-direction: column;
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center;     /* 垂直居中 */
  }
  #mapMain_sub1{
    /* visibility: hidden; */
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center;     /* 垂直居中 */
  }
  #mapMain_sub2{
    /* visibility: hidden; */
    display: flex;
    /* flex-direction: column; */
    justify-content: center; /* 水平居中 */
    /* align-items: center;     垂直居中 */
  }
  #paperList{
    display: flex;
    flex: 1;
    flex-direction: column;
    border-left: dashed black;
    /* justify-content: center;  */
    align-items: center;     
  }
  #paperList:first-child{
    flex-direction: column;
    border-left: none;
    display: flex;
    flex: 1;
    /* justify-content: center; 水平居中 */
    /* align-items: center;     垂直居中 */
  }
  #paperList #paperOutsideDiv{
    padding: 20px;
    align-items: center;
  }
  #paper{
    display: flex;
    border-style: double;
    border-radius: 10px;
    border-color: black;
    padding: 5px;
    justify-content: center; /* 水平居中 */
    align-items: center;     /* 垂直居中 */
    background: #ffffff;
  }
  #showMain{
    visibility: hidden;
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center;     /* 垂直居中 */
  }
  #app{
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center;     /* 垂直居中 */
  }
  .el-row{
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center;     /* 垂直居中 */
  }
  .el-col-4{
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center;     /* 垂直居中 */
  }
  .el-col-2{
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center;     /* 垂直居中 */
  }
</style>

</html>